@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

body {
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  display: grid;
  place-content: center;
}

main {
  display: grid;
  row-gap: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;
}

nav h1 {
  font-weight: bold;
  font-size: 32px;
}

nav button {
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  text-align: center;
  font-weight: 18px;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

nav button:hover {
  background-color: #04ca99;
}

.banner {
  padding: 80px 60px;
  display: flex;
  column-gap: 64px;
  background-color: #c6e4d6;
  justify-self: center;
  align-items: center;
  border-radius: 24px;
}

.banner-details {
  display: grid;
  row-gap: 24px;
}

.banner-texts {
  display: grid;
  row-gap: 16px;
}

.banner h4 {
  font-weight: 500;
  font-size: 24px;
  color: #0e0e0e;
  opacity: 50%;
}

.banner h1 {
  font-weight: 700;
  font-size: 56px;
  color: #0e0e0e;
}

.banner button {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding: 17px 34px;
  width: fit-content;
  column-gap: 48px;
  background-color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-family: "Fira Sans", sans-serif;
}

.banner button:hover {
  background-color: #099975;
}

.optional-section-1 {
  display: grid;
  row-gap: 32px;
  padding: 0 60px;
}

.optional-section-1 h1 {
  font-weight: bold;
  font-size: 40px;
  color: #0e0e0e;
}

.cards-piller {
  display: flex;
  column-gap: 24px;
  justify-content: space-evenly;
}

.card-piller {
  display: grid;
  padding: 24px;
  row-gap: 24px;
  border: 1px solid rgba(14, 14, 14, 0.5);
  background-color: #ffffff;
  border-radius: 16px;
}

.card-piller-texts {
  display: grid;
  row-gap: 12px;
}

.card-piller-texts h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
}

.card-piller-texts p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0e0e0e;
  opacity: 70%;
}

.the-vision-of-future {
  display: grid;
  row-gap: 32px;
  padding: 0 60px;
}

.headline {
  display: grid;
  color: #0e0e0e;
}

.headline h1 {
  font-size: 40px;
  font-weight: bold;
}

.headline p {
  font-size: 16px;
  font-weight: normal;
  opacity: 70%;
}

.the-vision-of-future .headline {
  row-gap: 24px;
}

.vision-future-cards {
  display: flex;
  column-gap: 24px;
  justify-content: space-evenly;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.vision-future-card {
  display: grid;
  row-gap: 24px;
  padding: 32px;
  border: 1px solid;
  border-radius: 16px;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.vision-future-card button {
  border: 1px solid;
  border-radius: 8px;
  padding: 11px 20px;
  align-self: flex-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
}

.vision-future-card h1 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
}

.vision-future-card p {
  font-size: 16px;
  font-weight: normal;
  color: #0e0e0e;
  opacity: 70%;
  line-height: 24px;
}

.vision-future-card .texts {
  display: grid;
  row-gap: 12px;
  flex-grow: 1;
}

.vision-future-card:nth-child(1) {
  background-color: rgba(84, 144, 245, 0.2);
  border-color: #5490f5;
}

.vision-future-card:nth-child(1) button {
  background-color: #5490f5;
  border-color: #5490f5;
}

.vision-future-card:nth-child(1) button:hover {
  background-color: #326dc5;
}

.shorten-container {
  display: grid;
  row-gap: 24px;
  align-self: flex-start;
}

.vision-future-card:nth-child(2) {
  background-color: #c6e4d6;
  border-color: #09a15c;
}

.vision-future-card:nth-child(2) button {
  background-color: #09a15c;
  border-color: #09a15c;
}

.vision-future-card:nth-child(2) button:hover {
  background-color: #0c7546;
}

.vision-future-card:nth-child(3) {
  background-color: #f7ebcf;
  border-color: #ffc239;
}

.vision-future-card:nth-child(3) button {
  background-color: #ffc239;
  border-color: #ffc239;
}

.vision-future-card:nth-child(3) button:hover {
  background-color: #d19a19;
}
